@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace ntgroup.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/mystyle.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <title>Nam Thang Group</title>
    <meta property="og:title" content="Nam Thang Group" />
    <meta property="og:description" content="Tập đoàn Nam Thắng - Uy tín và chất lượng." />
    <meta property="og:image" content="imgs/logo-namthang.png" />
    <meta property="og:url" content="http://www.namthanggroup.somee.com" />
    <meta property="og:type" content="website" />

    <!--MudBlazor fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <!--Font CDN: phông chữ trirong của google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Animation: hiệu ứng chữ và ảnh-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!--Icon: fontawesome.com-->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!--Add Cdnjs: https://cdnjs.com/libraries/font-awesome 6.7.2-->
    <link href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Đã xảy ra lỗi. vui lòng tải lại trang.
        </environment>
        <environment include="Development">
            Đã xảy ra một ngoại lệ chưa được xử lý. Xem công cụ phát triển trình duyệt để biết chi tiết.
        </environment>
        <a href="" class="reload">Tải lại</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--MudBlazor-->
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
